*{
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
    font-family: "Arsenal", sans-serif;
}

.menu {
    height: 100px;
    background-color: #112244;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.logo {
    margin-left: 15%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1;
    margin-right: 15%;
}

li {
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    position: relative;
}

li a:hover {
    color: FF7B00;
    border-bottom: 3px solid orange;
    padding-bottom: 5px;
}

#atual {
    color: #FF7B00;
    border-bottom: 3px solid #FF7B00;
    padding-bottom: 25px;
}

.fundo {
    position: relative;
}

.fundo img {
    width: 100%;
}

.fundo p {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 3vw;
    font-weight: 700;
    color: #ffffff;
}

.botoes {
    position: absolute;
    bottom: 10%;
    left: 10%;
    display: flex;
    gap: 20px;
}

.botao {
    background: #FF7B00;
    color: #112244;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    font-size: 1.2vw;
}

.botao:hover {
    background: #112244;
    color: #ffffff;
}

.candidato {
    display: flex;
}

.candidato img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 25%;
    margin-top: 3%;
    margin-left: 15%;
}

.infos {
    margin: 3%;
    margin-right: 15%;
}

.infos h3, .faixa_esquerda h3 {
    color: #FF7B00;
}

.infos h1, .faixa_esquerda h1 {
    color: #112244;
    font-weight: 700;
    font-size: 2vw;
    margin-bottom: 2%;
}

.infos p, .faixa_esquerda p {
    font-size: 1.5vw;
    color: #112244;
    line-height: 1.5;
}

.trajetoria {
    display: flex;
    margin-left: 10%;
}

.faixa_esquerda{
    width: 45%;
    padding-top: 5%;
    padding-left: 3%;
}


.accordeons {
    width: 100%;
    max-width: 40vw;
    font-size: 1.5vw;
    padding-left: 5%;
    padding-right: 15%;
    padding-top: 5%;
}

details {
  width: 100%; 
  margin: 3%;
  border: 2px solid #FF7B00;
  border-radius: 8px;
  background-color: #ff7b0035;
  overflow: hidden;
}

summary {
  cursor: pointer;
  padding: 12px;
  background-color: #FF7B00;
  color: #112244;
  font-weight: bold;
  border-bottom: 1px solid #FF7B00;
}

summary:hover {
  background-color: #112244;
  color: #ffffff;
  border-color: #112244;
}

details[open] summary {
  border-bottom: 2px solid white;
}

details p, details div {
  padding: 12px;
  background-color: #fffaf5;
  color: #000000;
}

.valores {
    display: flex;
    flex-direction: column;
    background-color: #112244;
    margin-top: 5%;
    padding-top: 3%;
    text-align: center;
    align-items: center;
}

.valores h3 {
    color: #FF7B00;
    padding-bottom: 1%;
}

.valores h1 {
    color: #ffffff;
    font-size: 2.5vw;
    padding-bottom: 2%;
}

.valores p {
    color: #ffffff;
    width: 80%;
    font-size: 1.5vw;
    line-height: 1.5;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 3% auto;
    gap: 3%;
}

.card { 
    flex: 1 1 calc(33.33% - 3%);
    background-color: #ffffff;
    border-radius: 8px;
    text-align: left;
    padding: 1.5%;
    box-sizing: border-box;
    margin-bottom: 3%;
}

.cards :hover {
    background-color: #ffcc00;
    transition: 0.3s;
    scale: 1.05;
}

#card_icon {
    width: 10%;
    padding-bottom: 2%;
}

#card_title {
    color:#112244;
    padding-bottom: 2%;
}

#card_paragraph {
    color: #112244;
    font-size: 1vw;
}

.footer_links {
    background-color: yellowgreen;
    height: 50px;
}

.footer_redes_sociais {
    background-color: pink;
    display: flex;
    justify-content: center;
    gap: 3%;
}

.footer_redes_sociais img {
    width: 3%;
}