*{
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
    font-family: "Arsenal", sans-serif;
}

.menu{
    height: 100px;
    background-color:#112244;
    display: flex;
    align-items: center;

}

ul{
    display: flex;
    list-style: none;
    margin-left: 30%;
}

li{
    padding-right: 20%;
    
}

a{
    text-decoration: none;
    color: white;
    font-weight: 450;
    font-size: 125%;
    

}

li :hover{
    color: orange;
    border-bottom: 3px solid orange;
    padding-bottom: 25px;
    
}

.logo {
    height: 50%;
    margin-left: 100%;
   
}

#atual {
    color: #FF7B00;
    border-bottom: 3px solid #FF7B00;
    padding-bottom: 25px;
}

.fundo {
    position: relative;
}

.fundo img {
    width: 100%;
}

.fundo p {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 3vw;
    font-weight: 700;
    color: #ffffff;
}

.botoes {
    position: absolute;
    bottom: 10%;
    left: 10%;
    display: flex;
    gap: 20px;
}

.botao {
    background: #FF7B00;
    color: #112244;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.botao:hover {
    background: #112244;
    color: #ffffff;
}

.candidato {
    display: flex;
}

.candidato img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 25%;
    margin-top: 3%;
    margin-left: 3%;
}

.infos {
    margin: 3%;
    margin-right: 15%;
}

.infos h3, .faixa_esquerda h3 {
    color: #FF7B00;
}

.infos h1, .faixa_esquerda h1 {
    color: #112244;
    font-weight: 700;
    font-size: 2vw;
    margin-bottom: 2%;
}

.infos p, .faixa_esquerda p {
    font-size: 2vw;
    color: #112244;
    line-height: 1.5;
}

.trajetoria {
    display: flex;
}

.faixa_esquerda{
    width: 45%;
    padding-top: 5%;
    padding-left: 10%;
}


.accordeons {
    width: 55%;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 5%;
}

details {
  width: 100%; 
  margin: 3%;
  border: 2px solid #FF7B00;
  border-radius: 8px;
  background-color: #ff7b0035;
  overflow: hidden;
}

summary {
  cursor: pointer;
  padding: 12px;
  background-color: #FF7B00;
  color: #112244;
  font-weight: bold;
  border-bottom: 1px solid #FF7B00;
}

summary:hover {
  background-color: #112244;
  color: #ffffff;
  border-color: #112244;
}

details[open] summary {
  border-bottom: 2px solid white;
}

details p, details div {
  padding: 12px;
  background-color: #fffaf5;
  color: #000000;
}

