/* ===================== RESET & BASE ===================== */
* {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: "Arsenal", sans-serif;
}

/* ===================== MENU ===================== */
#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    margin-right: 20px;
    margin-left: auto;
}

.menu {
    height: 100px;
    background-color: #112244;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.logo {
    margin-left: 15%;
}

.menu ul {
    display: flex;
    list-style: none;
    z-index: 999;
    margin-left: 5%;
}

.menu li {
    padding-right: 25%;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.5vw;
}

li :hover {
    color: #FF7B00;
    border-bottom: 3px solid #FF7B00;
    padding-bottom: 2.5vh;
}

#atual {
    color: #FF7B00;
    border-bottom: 3px solid #FF7B00;
    padding-bottom: 2.5vh;
}

.candidato h1,
.trajetoria h1,
.propostas h1,
.propostas h1,
.feitos h1,
.valores h1,
.contato h1 {
    font-size: 2.5vw;
    color: #FF7B00;

}

.candidato h3,
.trajetoria h3,
.propostas h3,
.propostas h3,
.feitos h3,
.valores h3,
.contato h3 {
    font-size: 2vw;
    color: #228B22;
}

.candidato p,
.trajetoria p,
.propostas p,
.propostas p,
.feitos p,
.valores p,
.contato p {
    font-size: 1.5vw;
}

.trajetoria,
.feitos,
.contato {
    background-color: #112244;
}

.trajetoria p,
.feitos p,
.contato p {
    background-color: #112244;
    color: #ffffff;
}

.trajetoria,
.propostas,
.feitos,
.valores,
.valores,
.contato {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.candidato {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
}

.foto {
    width: 50%;
    margin-right: 5%;
}

.candidato img {
    width: 100%;
    height: 100%;
    align-items: center;
}

.candidato .infos {
    width: 50%;
}


.ancoras {
    margin-top: 5%;
    margin-bottom: 5%;
}

.ancoras a {
    text-decoration: none;
    background-color: #112244;
    color: #ffffff;
    font-size: 1.2vw;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;

}

.ancoras a:hover {
    background-color: #FF7B00;
    color: #112244;
    transition: 0.5s;
}

.dados-gerais li {
    font-size: 1.5vw;
}

li::marker {
    color: #228B22;
}

.propostas h1,
.feitos h1,
.contato h1 {
    margin-bottom: 3%;
}

.propostas p,
.feitos p,
.contato p {
    margin-bottom: 2%;
}

.candidatoh1,
.trajetoria h1,
.valores h1 {
    margin-bottom: 1%;
}

.valores h3 {
    margin-top: 3%;
}

iframe {
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px solid white;
    border-radius: 15px;
    box-shadow: 0px 4px 12px #ffffff;
    width: 100%;
}


/* ===================== FOOTER ===================== */
.line {
    height: 5px;
    background-color: #FF7B00
}

.footer_social {
    text-align: center;
    margin-bottom: 2%;
}

.footer_redes_sociais {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.footer_redes_sociais img {
    width: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.footer_social h3 {
    color: #112244;
    padding-top: 2%;
}

.footer_social p {
    color: #112244;
}

.footer_links h3 {
    color: #112244;
    font-size: 1.4vw;
}

.footer_links p,
.footer_links li {
    color: #112244;
}

.footer_links {
    width: 80%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 10%;
}

.footer_links>div {
    flex: 1;
}


@media (max-width: 425px) {

/* ========================================== */

    li :hover {
        color: white;
        border-bottom: none;
    }

    #atual {
        color: #FF7B00;
        border-bottom: none;
        padding-bottom: 25px;
    }

    .logo {
        width: 50%;
        margin-left: 5%
    }

    .hamburger {
        display: block;
        margin-right: 5%;
    }

    .menu {
        position: relative;
        height: 70px;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        background-color: #112244;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        padding-left: 5%;
        box-sizing: border-box;
        display: none;
    }

    .menu ul {
        background-color: #1a2a4d;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
        border-top: 2px solid #FF7B00;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    .menu li {
        padding: 20px 0;
    }

    .menu a {
        font-size: 5vw;
    }

    #menu-toggle:checked+.hamburger+ul {
        display: flex;
    }

/* ========================================== */

    .candidato h1,
    .trajetoria h1,
    .propostas h1,
    .propostas h1,
    .feitos h1,
    .valores h1,
    .contato h1 {
        font-size: 8vw;;
        color: #FF7B00;

    }

    .candidato h3,
    .trajetoria h3,
    .propostas h3,
    .propostas h3,
    .feitos h3,
    .valores h3,
    .contato h3 {
        font-size: 6vw;
        color: #228B22;
    }

    .candidato p,
    .trajetoria p,
    .propostas p,
    .propostas p,
    .feitos p,
    .valores p,
    .contato p {
        font-size: 5vw;;
    }

    .trajetoria,
    .feitos,
    .contato {
        background-color: #112244;
    }

    .trajetoria p,
    .feitos p,
    .contato p {
        background-color: #112244;
        color: #ffffff;
    }

    .trajetoria,
    .propostas,
    .feitos,
    .valores,
    .valores,
    .contato {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .candidato {
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
    }

    .foto {
        width: 100%;
        margin-right: 5%;
        order: 2;
    }

    .candidato img {
        width: 100%;
        margin-top: 5%;
    }

    .candidato .infos {
        width: 100%;
    }

    .infos{
        order: 1;
    }


    .ancoras {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .ancoras a {
        text-decoration: none;
        background-color: #112244;
        color: #ffffff;
        font-size: 4vw;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;

    }

    .ancoras a:hover {
        background-color: #FF7B00;
        color: #112244;
        transition: 0.5s;
    }

    .dados-gerais li {
        font-size: 5vw;
    }

    li::marker {
        color: #228B22;
    }

    .propostas h1,
    .feitos h1,
    .contato h1 {
        margin-bottom: 3%;
    }

    .propostas p,
    .feitos p,
    .contato p {
        margin-bottom: 2%;
    }

    .candidatoh1,
    .trajetoria h1,
    .valores h1 {
        margin-bottom: 1%;
    }

    .valores h3 {
        margin-top: 3%;
    }

    iframe {
        margin-top: 5%;
        margin-bottom: 5%;
        border: 3px solid white;
        border-radius: 15px;
        box-shadow: 0px 4px 12px #ffffff;
        width: 100%;
    }

    .line {
        height: 3px;
    }

    .footer_redes_sociais img {
        width: 10%;
    }

    .footer_links {
        width: 80%;
        margin-top: 3%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-left: 10%;
    }

    .footer_copy {
        font-size: 3vw;
    }
}